@model diploma.Models.Core.Tariff

@{
    ViewBag.Title = "Детали тарифа";
}

<h2>Детали тарифа</h2>

<div>
    <h4>Тариф</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Порог
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limitation)
        </dd>

        <dt>
            Плата за порог
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitPrice)
        </dd>

        <dt>
            Плата в минуту
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("К списку тарифов", "Index")
</p>
