@model IEnumerable<diploma.Models.Core.Tariff>

@{
    ViewBag.Title = "Тарифы";
}

<h2>Тарифы</h2>

<p>
    @Html.ActionLink("Добавить новый тариф", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Порог
        </th>
        <th>
            Плата за порог
        </th>
        <th>
            Плата в минуту
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limitation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverPrice)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
