@model diploma.Models.Core.Address

@{
    ViewBag.Title = "Удаление адреса";
}

<h2>Удаление адреса</h2>

<h3>Вы уверены, что хотите удалить этот адрес?</h3>
<div>
    <h4>Адрес</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Индекс
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>

        <dt>
            Район
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            Улица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            Дом
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            Доп. информация
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку адресов", "Index")
        </div>
    }
</div>
