@model diploma.Models.Core.Address

@{
    ViewBag.Title = "Адрес";
}

<h2>Подробная информация</h2>

<div>
    <h4>Адрес</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Индекс
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>

        <dt>
            Район
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            Улица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            Дом
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            Доп. информация
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("К списку адресов", "Index")
</p>
