@model IEnumerable<diploma.Models.Core.TeleStation>

@{
    ViewBag.Title = "АТС";
}

<h2>АТС</h2>

<p>
    @Html.ActionLink("Добавить новую АТС", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Номер
        </th>
        <th>
            Адрес
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.PostOffice), 
            @Html.DisplayFor(modelItem => item.Address.District)
             р-н, 
            @Html.DisplayFor(modelItem => item.Address.Street), 
            @Html.DisplayFor(modelItem => item.Address.Building), 
            @Html.DisplayFor(modelItem => item.Address.Extra)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
