@model IEnumerable<diploma.Models.Core.Debt>

@{
    ViewBag.Title = "Задолженности";
}

<h2>Задолженности абонента @ViewBag.Phone</h2>

<p>
    <a href="/Bill/Create?id=@ViewBag.ID">Выставить счёт</a> | 
    <a href="/Bill/Index?id=@ViewBag.ID">Все счета абонента</a> 
</p>

<table class="table">
    <tr>
        <th>
            Задолженность
        </th>

        <th>
            Сумма
        </th>

        <th>
            Дата начисления
        </th>

        <th>
            Погашена
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
    </tr>
}

</table>
