@model IEnumerable<diploma.Models.Accounts.UserRole>

@{
    ViewBag.Title = "Роли пользователя";
}

<h2>Роли пользователя</h2>

<p>
    @Html.ActionLink("Добавить роль", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Имя роли
        </th>
        <th>
            Возможность редактирования справочников
        </th>
        <th>
            Возможность редактирования абонентов
        </th>
        <th>
            Возможность редактирования пользователей
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanEditReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanEditPersonal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanEditUsers)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
