@model IEnumerable<diploma.Models.Core.Client>

@{
    ViewBag.Title = "Абоненты - Физ. лица";
}

<h2>Абоненты - Физ. лица</h2>

<p>
    @Html.ActionLink("Добавить нового абонента", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Телефон
        </th>
        <th>
            АТС
        </th>
        <th>
            Тариф
        </th>
        <th>
            Адрес
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Номер паспорта
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            Номер @Html.DisplayFor(modelItem => item.Station.ID)<br />
            Адрес @Html.DisplayFor(modelItem => item.Station.Address.District) р-н, @Html.DisplayFor(modelItem => item.Station.Address.Street), 
            @Html.DisplayFor(modelItem => item.Station.Address.Building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentTariff.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.District) р-н, @Html.DisplayFor(modelItem => item.Address.Street),
            @Html.DisplayFor(modelItem => item.Address.Building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysPerson.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysPerson.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysPerson.Patronimyc)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.PhysPerson.SerialNumber)  @Html.DisplayFor(modelItem => item.PhysPerson.PassportNumber)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
